#results{
  margin-top: 20px;
}
.result{
  margin: 0 auto;
  font: normal 20px/1 "amaranth", Helvetica, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: white;
  background-color: rgba(0,0,0,.3);
  padding: 15px;
  margin-bottom: 10px;
  text-align: left;
  max-width: 1000px;
  cursor: pointer;
}

body{
	margin: 0;
	padding: 0;
	background-attachment: fixed;
}
h1{
	line-height: 100%;
}
.button-success{
	font: normal 20px/1 "amaranth", Helvetica, sans-serif;
	text-decoration: none;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding:0 5px;
}

.button-success {
    background: rgba(40, 40, 40, 0.4);
}

.center{
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
	max-width: 1400px;
}


.search {
  display: inline-block;
  box-sizing: border-box;
  width: 250px;
  height: 42px;
  cursor: I-beam;
  margin: 10px 0 0 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius:10px;
  font: normal 20px/normal "Antic", Helvetica, sans-serif;
  color: rgba(140, 140, 140, 1);
  text-decoration: normal;
  text-overflow: ellipsis;
  background: rgba(40, 40, 40, 0.4);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5) inset;
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.search:hover {
  width: 70%;
  opacity: 0.82;
  color: rgba(181, 181, 181, 1);
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.search:focus {
  width: 95%;
  max-width: 1000px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255, 255, 255, 1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.text {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  font: normal 20px/1 "amaranth", Helvetica, sans-serif;
  color: #ffffff;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 20px;
}

input:focus {
  outline: none;
}

